{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="py-5 min-vh-80">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1><strong>{% trans "Password Reset" %}</strong></h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                </p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-control">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p class="my-2">{% blocktrans %}Please contact us if you have any trouble resetting your
                        password.{% endblocktrans %}</p>
                    <input class="btn-primary btn mb-2" type="submit" value="{% trans 'Reset My Password' %}" />
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}