/* -------------------------------- Visualizer */

* {
    outline: 1px solid #f00 !important;
}

/* Full page styling  */
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: var(--bs-body-text-align);
    background-color: white;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height: 100%;
    height: 100%;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: inherit;
    text-decoration: underline;
    opacity: 0.8;
}

a:hover {
    opacity: 0.8;
}

img {
    vertical-align: middle;
}

/* Navbar styling */
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bg-custom {
    background-color: #04080b;
}

.navbar-brand {
    font-family: comforter;
}

/* Addition to bootstrap styling */

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.col {
    flex: 1 0 0%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

/* p padding y top and bottom */
.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* m margin y top and bottom */
.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.pt-0 {
    padding-top: 0;
}

.pt-5 {
    padding-top: 3rem;
}

.bg-image-full {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

/* Text styling */
.text-center {
    text-align: center;
}


.alert-fixed {
    position:fixed; 
    top: 60px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px;
}

.text-white {
    --bs-text-opacity: 1;
    color: white;
}

.text-black {
    --bs-text-opacity: 1;
    color: black;
}

.post-link {
    text-decoration: none;
}


/* fw font weight */
.fw-bolder {
    font-weight: bolder;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

/* Social media icons */



.social-media-icons ul {
    list-style: none;
    padding-top: 30px;
    text-align: center;
}

.social-media-icons a {
    display: inline-block;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
}

.social-media-icons a i:hover {
    opacity: 0.8;
}

/* Sign in styling */

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* media queries */

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

@media (min-width: 1200px) {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5
        {
        font-size: 1.5rem;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}