{% extends "base.html" %}
{% block title %}Post detail{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load humanize %}

<!-- Post detail-->

<section class="py-1">
    <div class="container my-5">
        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top"
                                src="https://images.unsplash.com/photo-1495020689067-958852a7765e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80"
                                alt="placeholder_image">
                            {% else %}
                            <img class="card-img-top" src="{{ post.featured_image.url }}" alt="featured_image">
                            {% endif %}
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>
                        </div>
                        <div class="image-flash">
                            <p class="author">Submitted by: {{ post.author }}
                                <small class="text-muted">{{ post.updated_on | naturaltime }} </small>

                                <!-- Only users that are logged in can edit/ delete their own post -->

                                {% if user.id == post.author.id %}
                                <small class="text-muted"><a href=""> Edit</a></small>
                                <small> | </small>
                                <small class="text-muted"><a href=""> Delete</a></small>
                                {% endif %}
                            </p>
                        </div>
                        <p class="card-text">{{ post.content | safe }}</p>
                        <hr>
                        <p class="card-text text-muted ">
                            <i class="far fa-thumbs-up"></i> {{ post.number_of_likes }} | {{ post.category }} |
                            {% with comments.count as total_comments %}
                            <i class="far fa-comments"></i>
                            {{ total_comments }}
                            {% endwith %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments section -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!-- <a href=""><button onclick="" class="btn btn-light" style="width: 100%;"> Leave
                            a comment</button></a> -->
                    <h3>Comments:</h3>
                    <!-- Only allowed to comment if user is authenticated -->

                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}

                    {% if user.is_authenticated %}

                    <form method="post" id="comment-form">
                        <p class="text-muted">Posting as: {{ user.username }}</p>
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success my-2">Submit</button>
                    </form>

                    {% endif %}
                    {% endif %}

                    <div class="card-body px-0">
                        {% for comment in comments %}
                        <div class="comments">
                            <p class="text-muted">
                                {{ comment.created_on | naturaltime }} {{ comment.name }} wrote:
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


{% endblock %}